.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem;
  background-color: goldenrod;
  margin-bottom: 0.85rem;
}

.header__link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  display: block;
  padding: 0.25rem;
}

.header__link:hover {
  cursor: pointer;
  background-color: white;
  color: goldenrod;
  /* transition: all ease-in 0.3ms; */
}

/* .active {
  color: teal;
} */
